.picture-container {
    overflow: hidden;
    width: 100%;
  }
  
  .row {
    display: flex;
    animation: moveRows 20s linear infinite; /* Adjust the animation duration as needed */
  }


  /* Animation for larger screens */
@media (min-width: 768px) {
    .row {
      animation: moveRows 20s linear infinite; /* Adjust the animation duration as needed */
    } 
     .roww {
    display: flex;
    animation: moveRowss 20s linear infinite; /* Adjust the animation duration as needed */
  }
  
  }
  
  /* Animation for smaller screens */
  @media (max-width: 767px) {
    .row {
        animation: moveRows 10s linear infinite; /* Adjust the animation duration as needed */
      } 
       .roww {
      display: flex;
      animation: moveRowss 10s linear infinite; /* Adjust the animation duration as needed */
    }
  }


  
  @keyframes moveRows {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Adjust the distance to move the rows */
    }
  }
  @keyframes moveRowss {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0); /* Adjust the distance to move the rows */
    }
  }
  